@charset "utf-8";
@import "nav_menu.css";
@import "search.css";
@import "korzina.css";
@import "oformit_zakazcss.css";

#logo {
    float: inherit;
}

#center_header {
    font-family: "EkaterinaVelikaya2";
    font-weight: bold;
    color: #FFFFFF;
    font-size: 38px;
    padding-left: 61px;
    padding-right: 50px;
    float: left;
    text-shadow: 0 0 10pt #c718d7;
}
